<div class="books-container">
  <div class="card-header col-md-10">
    <h2>
      Search Results
    </h2>
  </div>

  
  <!-- We implement the built-in helper, #each. This helper will iterate over books -->
  {{#each books as |book|}}
  <!-- For each dish in the array of dish objects, the following <div> will be rendered. -->
    <div class="col-md-5">
      <p>
        {{}}
      </p>
    </div>
    <div class="col-md-7">
      <p>
        <!-- guest_name will eventually go here -->
      </p>
    </div>
    <!-- Below, we close the #each helper. -->
  {{/each}}
</div>