<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/3fa854029c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Home</title>
</head>

<body>

<div class="container">
    <!-- ANIMATION -->
</div>

    {{{body}}}


    <!-- Main NavBar -->
    <nav class="navbar">

        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <span class="link-text">Home</span>
                    <i class="fa-solid fa-house"></i>
                </a>
            <li class="nav-item">
                <a href="/search" class="nav-link">
                    <span class="link-text">Search</span>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            <li class="nav-item">
                <a href="/bestsellers" class="nav-link">
                    <span class="link-text">NYTBS</span>
                    <i class="fa-solid fa-book"></i>
                </a>
            <li class="nav-item">
                <a href="/login" class="nav-link">
                    <span class="link-text">Profile</span>
                    <i class="fa-solid fa-user"></i>
                </a>
            <li class="nav-item login">
                <a href="/login" class="nav-link">
                    <span class="link-text">Login</span>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </a>
            <li class="nav-item logout-btn">
                  <button id="logout" class="logout-btn is-danger"><span class="link-text">Logout</span></button>
        </ul>
    </nav>

    <script src="/js/index.js"></script>

    <script src="/js/logout.js"></script>

</body>

</html>