<!--Bestsellers Page Header -->
    <div class="mid-img-container">
      <div class="mid-container">
        <h1 class="bestseller-header" id="bestseller-header">Bestsellers</h1>
        <span class="box">
          <h4 class="bs-sub-header" id="bs-sub-header">
            NEW YORK TIMES BESTSELLERS LIST
          </h4>
        </span>
      </div>
    </div>

    <!--Book Cards-->
    <section class="cards-wrapper">
   
    </section>

    <script src="./js/bestseller.js"></script>
    