<div class="home-header">
  <span class="box">
    <h4 class="hidden">A Library Designed For Talking</h4>
    <i class="fa-solid fa-sort-down fa-2xl hidden"></i>
  </span>
</div>       
       
        <div class="home-info-cards">
          <div class="search-card hidden">
            <i class="fa-solid fa-magnifying-glass fa-2xl hidden"></i>
              <h3 class="hidden">Search</h3>
              <div class="search-card-text hidden">
                <p>Search Across Millions of Audio & Physical Books</p>
              </div>
          </div>
          <div class="read-card hidden">
            <i class="fa-solid fa-book fa-2xl hidden"></i> 
              <h3 class="hidden">Read</h3>
              <div class="read-card-text hidden">
                <p>Pick From Best Sellers or Recommendations From Your Friends</p>
              </div>
          </div>
          <div class="review-card hidden fa-2xl hidden">
            <i class="fa-solid fa-feather-pointed review-icon"></i>
              <h3 class="hidden">Review</h3>
              <div class="review-card-text hidden">
                <p>Leave a Review And Let Others Know What You Thought of Your Reads</p>
              </div>
          </div>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.148.0/three.min.js">
    </script>
    <script src="./js/book.js">
    </script>