
  <div class="home-info-cards">
    <div class="search-card hidden">
      <img
        src="./img/magnifying-glass-solid.svg"
        alt="search-icon"
        class="search-icon"
      />

      <h3>Search</h3>
      <div class="search-card-text hidden">
        <p>Search Across Millions of Audio & Physical Books</p>
      </div>
    </div>
    <div class="read-card hidden">
      <img src="./img/book-solid.svg" alt="read-icon" class="read-icon" />
      <h3>Read</h3>
      <div class="read-card-text hidden">
        <p>Pick From Best Sellers or Recommendations From Your Friends</p>
      </div>
    </div>
    <div class="review-card hidden">
      <img
        src="./img/pen-to-square-regular.svg"
        alt="review-icon"
        class="review-icon"
      />
      <h3>Review</h3>
      <div class="review-card-text hidden">
        <p>Leave a Review And Let Others Know What You Thought of Your Reads</p>
      </div>
    </div>
  </div>

