<div class="body-body">
    <div class="review-container">
      <div class="book-img">
            <img class="book-image" src="">
      </div>
      <div class="book-review-desc">
        <div class="book-description">
            <h5 class="book-desc">Description:</h5>
            <p class="book-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem tempora id officiis iste quas sed ipsa repellat ducimus. Et non blanditiis ipsam? Quas culpa praesentium quisquam, asperiores ea excepturi expedita.</p>
        </div>
      <div class="book-review">
            <form class="form review-form">
                <div class="form-group">
                    <label for="review-text">Leave a review:</label>
                    <input class="form-input" type="text" id="review-text" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Post</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/reviewing.js"></script>