<div class="container">
    <div class="row">
        <div class="col-sm book-img">
            <img src="">
            <p>img will go here</p>
        </div>
        <div class="col-sm book-description">
            <p class="book-description">hello for now</p>
        </div>
        <div class="col-sm book-review">
            <form class="form review-form">
                <div class="form-group">
                    <label for="review-text">Leave a review:</label>
                    <input class="form-input" type="text" id="review-text" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Post</button>
                </div>
            </form>
        </div>
    </div>
</div>