<!--Header & Sub-Header-->
    <div class="mid-img-container">
      <div class="mid-container"> 
          <h1 class="search-header" id="search-header">LibScrib</h1>
              <h4 class="search-sub-header" id="search-sub-header">Search for millions of books online, get suggestions, and leave reviews on books you've already read.</h4>
          </div>
          <div id="search-bar">
            <input class="main-search" type="text" placeholder="Search by Title/Author/ISBN">
            <button type="button" id="searchBtn" class="btn btn-primary"><i class="fas fa-search"></i></button>
          </div>
      </div>  
      



    <!-- Container for Main Search Result Card -->
  <section class="container-main-1" id="main-1">
    <section class="row" id="row-1">
      <section class="col-hidden" id="searchedBook">
        <section class="main-card">
          <img src="" class="main-img-card searchImages" id="searchedBookImage">
          <section class="card-body" id="searchedBookBody">
            <h4 class="card-title" id="seachedBookTitle">Search Results</h4>
          </section>
        </section>
      </section>
    </section>
  </section>

    <script src="./js/searchBar.js"></script>


    <!-- footer -->
    <footer>
      <h6 class="main-footer">Developed by: Zachary Berkley, Adrian Carter, Emre Eyupoglue, Sean Fitzpatrick, Tessa Starkweather, & Kelly Williams</h6>
    </footer>