<!--Header & Sub-Header-->
          <h1 class="search-header" id="search-header">LibScrib</h1>
              <h4 class="search-sub-header" id="search-sub-header">Search for millions of books online, get suggestions, and leave reviews on books you've already read.</h4>
        <div class="body-body">
          <div class="search-bar">
            <input id="searchBar" class="main-search" type="text" placeholder="Search by Title/Author/ISBN">
              <a href="#">
                <i class="fas fa-search"></i>
              </a>
          </div>
        </div>
      
    <!-- Container for Main Search Result Card -->
    <container class="search-container">
      <div id="mainSearchContainer" class="search-results">
        
      </div>
    </container>


  <script src="./js/searchBar.js"></script>
  <script src="./js/index.js"></script>


    <!-- footer -->