<!--Header & Sub-Header-->

<div>
  <h1 class="search-header" id="search-header">LibScrib</h1>
  <h4 class="search-sub-header" id="search-sub-header">Search for millions of books online, get suggestions, and leave
    reviews on books you've already read.</h4>
</div>

<div class="body-body">
  <form class="search-bar">
    <input id="searchBar" class="main-search" name="search" type="text" placeholder="Search by Title/Author/ISBN">
    <button type="submit" class="search-btn">
      <i class="fas fa-search"></i>
    </button>
  </form>
</div>



<script src="./js/searchBar.js"></script>
<script src="./js/index.js"></script>