{{!-- <h2>Sign Up</h2>

<form class="form signup-form">
    <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
    </div>
</form> --}}
    <div class="user-container">
        <div class="form-box">
            <h1 id="title">Sign Up</h1>
            <form class="signup-form">
                <div class="input-group">

                    <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" id="email-signup" placeholder="Email">
                    </div>

                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" id="password-signup" placeholder="Password">
                    </div>
                    <p><a href="/login">Already have an account? Sign in here!</a></p>
                </div>
                <div class="btn-field">
                    <button type="submit" id="signupBtn">Create Account</button>
                </div>
            </form>
        </div>
    </div>

<script src="/js/signup.js"></script>