<div class="user-head-container">
            <h1 class="user-header" id="user-header">LibScrib</h1>
    </div>
    <div class="user-sub-header">
        <h4 class="user-sub-header">Your Profile</h4>
    </div>

    <!-- Container -->
  <div class="profile-cards">
    <div class="user-info-card">
        <h3>Account Details</h3>
          <div class="user-info-card-text">
            <input class="username-input" type="text" placeholder="Username">
            <input class="password-input" type="text" placeholder="Password">
            <button class="user-button" type="button">Submit</button>
          </div>
      </div>
      <div class="recent-review-card">
        <h3>Recent Reviews</h3>
            <div class="recent-reviews">
                <div class="review-1">REVIEW 1 CARD</div>
                <div class="review-2">REVIEW 2 CARD</div>
            </div>
          </div>
      </div>