<div class="user-head-container">
            <h1 class="user-header" id="user-header">LibScrib</h1>
    </div>
    <div class="user-sub-header">
        <h4 class="user-sub-header">Your Profile</h4>
    </div>

    <!-- Container -->
  <div class="profile-cards">
    <div class="user-info-card">
        <h3>Account Details</h3>
          <div class="user-info-card-text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, adipisci. Incidunt ipsum reprehenderit sunt magni corrupti! Eaque quidem in, voluptates vitae recusandae quasi tempore asperiores debitis quibusdam ab nam similique.</p>
          </div>
      </div>
      <div class="recent-review-card">
        <h3>Recent Reviews</h3>
          <div class="recent-review-text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam, adipisci. Incidunt ipsum reprehenderit sunt magni corrupti! Eaque quidem in, voluptates vitae recusandae quasi tempore asperiores debitis quibusdam ab nam similique.</p>
          </div>
      </div>
  </div>