/* Universal Elements */
:root {
    --color: #3c3163;
    --transition-time: 0.5s;
    font-family: 'IMB Plex Sans';
    --text-primary: #003366;
    --text-secondary: #71b1c5;
    --bg-primary: #F0F2F3;
    --bg-secondary: #71b1c5;
    --primary: #003366;
    --secondary: #CBE6EF;
    --hoverColor: #71b1c5;
    --light-dark: #CBE6EF;
    --dark: #003366;
    --background: #F0F2F3;
    --transition-speed: 600ms;
    --border-radius: .3rem;
}

/* .hidden {
    display: none;
} */

main {
    margin-left: 5rem;
    padding: 1rem;
}

/* OLD HOME BODY STYLING INCASE OF REVERT */

/* .home-body {
    background-image: url('/public/img/homepageBG.png');
    background-repeat: repeat;
    background-position: center center;
    background-size: fit;
    margin: 0;
    padding: 0;
    color: var(--bg-primary);
    font-family: 'IBM Plex Sans';
    font-size: 42px;
    line-height: 1.25;
    min-height: calc(3000px + 100vh);
    animation: transitionIn 0.75s;
    background-color: #003366;
    background-image: linear-gradient(#003366, #71b1c5);

} */
/* 
.home-bg-img-2 {
    background-image: linear-gradient(#003366, #71b1c5);
} */

/* STYLING FOR 3JS ANIMATION */

.container {
    position: fixed;
    z-index: 0;
    padding: 0;
    margin: 0;
}

section.content {
    width: 50%;
    max-width: 500px;
    padding: 32px;
    position: relative;
    z-index: 1;
}

body {
    color: var(--bg-primary);
    line-height: 1.25;
    min-height: calc(3000px + 100vh);
    animation: transitionIn 0.75s;
    background-color: #003366;
    background-image: linear-gradient(#003366, #71b1c5); 
}

.fa-sort-down {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12rem;
    padding-top: 2rem;
    animation: transitionIn 6s;
}

.home-header {
    position: absolute;
}

.home-header h4 {
    font-size: 2.2rem;
    padding-top: 22rem;
    padding-left: 12rem;
    text-align: left;
    animation: transitionIn 3s;
}


/* User Page Header & Sub Header */

.user-head-container {
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.user-header {
    font-size: 4rem;
    color: var(--bg-primary);
}

.user-sub-header {
    font-size: 2.2rem;
    color: var(--dark);
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}

.user-sub-header h4 {
    border-bottom: 2px solid var(--dark);
}

/* User Page Container */

.profile-cards {
    color: var(--bg-primary);
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.user-info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid transparent;
    line-height: 1.5;
    margin-right: 1rem;
    margin-top: 0.5rem;
    max-width: 28rem;
    max-height: 28rem;
    min-height: 20rem;
    font-size: 0.9rem;
    background-color: var(--dark);
    border-radius: 2rem;
    animation: transitionIn 1s;
}

.user-info-card h3 {
    display: flex;
    text-align: center;
    border-bottom: 2px solid var(--bg-primary);
}

.user-info-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.recent-review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid transparent;
    line-height: 1.5;
    margin-left: 1rem;
    margin-top: 0.5rem;
    max-width: 28rem;
    max-height: 28rem;
    min-height: 20rem;
    font-size: 0.9rem;
    background-color: var(--dark);
    border-radius: 2rem;
    animation: transitionIn 1s;
}

.recent-review-card h3 {
    display: flex;
    text-align: center; 
    border-bottom: 2px solid var(--bg-primary);
}

.recent-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.review-1 {
    max-width: 18rem;
    max-height: 12rem;
    color: #003366;
    background: var(--bg-primary);
}

.review-2 {
    max-width: 18rem;
    max-height: 12rem;
    color: #003366;
    background: var(--bg-primary);
}

/* Cursor Blinking After Sub Header */

.box h4::after {
    content: "";
    width: 0.4rem;
    height: 1.65rem;
    background: var(--bg-primary);
    display: inline-block;
    animation: transitionIn 1s;
    animation: cursor-blink 1s infinite;
}

.box h4 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Home Page Info Cards */

.hidden {
    opacity: 0;
    transition: all 2s;
}

.show {
    opacity: 1;
}

.home-info-cards {
    color: var(--bg-primary);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    min-height: calc(3000px + 100vh);
}

h3 {
    font-size: 2.8rem;
}

.search-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    background-color: rgb(255, 255, 255 / 0.5);
    border-radius: 2rem;
    max-width: 18rem;
    max-height: 18rem;
    min-height: 18rem;
    margin-left: 16rem;
    padding-top: 16rem;
    animation: transitionIn 4s;
}

.search-icon {
    height: 34px;
    width: 34px;
    margin-bottom: 1.5rem;
    filter: invert(100%);
}

.search-card-text {
    padding-top: 1.5rem;
    display: inline;
    transition-delay: 200ms;
    font-size: 1.2rem;
    text-align: center;
}


.read-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    background-color: rgb(255, 255, 255 / 0.5);
    border-radius: 2rem;
    max-width: 18rem;
    max-height: 18rem;
    min-height: 18rem;
    margin-left: 16rem;
    animation: transitionIn 4s;
}

.read-icon {
    height: 34px;
    width: 34px;
    margin-bottom: 1.5rem;
    filter: invert(100%);
}

.read-card-text {
    padding-top: 1.5rem;
    display: inline;
    transition-delay: 200ms;
    font-size: 1.2rem;
    text-align: center;
}


.review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    background-color: rgb(255, 255, 255 / 0.5);
    border-radius: 2rem;
    max-width: 22rem;
    max-height: 18rem;
    min-height: 18rem;
    margin-left: 16rem;
    padding-bottom: 18rem;
    animation: transitionIn 4s;
}

.review-icon {
    height: 34px;
    width: 34px;
    margin-bottom: 1.5rem;
}
 
.review-card-text {
    padding-top: 1.5rem;
    display: inline;
    transition-delay: 200ms;
    font-size: 1.2rem;
    text-align: center;
}

.button {
     position:absolute;
     right: 0px;
     z-index: 9999;
     width: xyz;
     height: xyz;
}

.logout-btn {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: var(--bg-secondary);
    color: var(--dark);
    font-size: 1.1rem;
    cursor: pointer;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.fa-right-to-bracket {
    height: 34px;
    width: 34px;
    margin-bottom: 1rem;
}


/* User Page Styling */

.user-body {
    animation: transitionIn 0.75s;
}

.user-container {
    width: 100%;
    height: 100vh;
    background-image: url("/public/img/homepageBG.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--bg-primary);
    padding: 50px 60px 70px;
    border-radius: 12px;
    text-align: center;
    border: 12px solid transparent;
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: var(--dark);
    position: relative;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: var(--dark);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-group input {
    min-width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field {
    background: #eaeaea;
    width: 100%;
    margin: 15px 0;
    border-radius: 6px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

.input-field i {
    margin-left: 15px;
    color: var(--dark);
}

form p {
    text-align: left;
    font-size: 13px;
}

form p a {
    text-decoration: none;
    color: var(--bg-secondary);
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button {
    flex-basis: 48%;
    background: var(--dark);
    color: var(--bg-primary);
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group {
    height: 340px;
}

.btn-field button:hover {
    color: var(--bg-secondary);
}

/* Nav Bar Styling */

.navbar {
    padding: 0px;
    margin: 0px;
    font-size: 1.2rem;
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-image: linear-gradient(#71b1c5 , #71b1c5); 
    transition: 400ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-item {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
    margin-top: 0;
    padding-top: 0;
}

.nav-item:nth-last-child(2){
    margin-top: auto;
}

.nav-link {
    width: 100%;
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--dark);
    text-decoration: none;
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background-color: var(--dark);
    color: var(--bg-secondary);
    width: 100%;
}

.link-text {
    padding: 2rem;
    display: none;
}

.navbar:hover .link-text {
    display: block;
    animation: transitionIn 1.5s;
}

/* Hardcoded Icon Display */

.navbar:hover .fa-house {
    animation: transitionIn 1s;
}

.fa-house {
    padding: 1.7rem;
}

.navbar:hover .fa-magnifying-glass {
    animation: transitionIn 1s;
}

.fa-magnifying-glass {
    padding: 1.8rem;
}

.navbar:hover .fa-book {
    animation: transitionIn 1s;
}

.fa-book {
    padding: 1.9rem;
}

.navbar:hover .fa-user {
    animation: transitionIn 1s;
}

.fa-user {
    padding: 1.8rem;
}

.navbar:hover .fa-right-to-bracket {
    animation: transitionIn 1s;
}

.fa-right-to-bracket {
    padding: 1.7rem;
}

/* Scrollbar Styling */

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scroll-bar-track {
    background: var(--dark);
}

body::-webkit-scrollbar-thumb {
    background: var(--bg-secondary);
}

/* Main Search Bar Functionality */

.search-body {
    margin: 0;
    padding: 0;
    color: var(--bg-primary);
    line-height: 1.25;
    min-height: calc(1080px + 100vh);
    animation: transitionIn 0.75s;
    background-color: #003366;
    background-image: linear-gradient(#003366, #71b1c5);
}

.body-body {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.search-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.search-header h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: var(--bg-primary);
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.search-sub-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
}

/* Main Search Button */

.search-bar {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1rem 2rem;
    background: var(--bg-primary);
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.search-bar:hover input {
    width: 32rem;
}

.search-bar input {
    width: 0;
    outline: none;
    border: none;
    transition: 0.8s;
    background: transparent;
}


.search-bar a .fas {
    color: var(--dark);
    font-size: 2.4rem;
}

/* Book Images */

.search-container {
    display: flex;
    justify-content: center;
    padding-left: 4rem;
}

.search-results {
    display: grid;
    grid-template-columns: 24rem 24rem 24rem;
    grid-template-rows: 32rem 32rem 32rem;
}


/* Small Screen Navbar Support */

@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
        
    .navbar-nav {
        flex-direction: row;
    }
    
    .nav-link {
        justify-content: center;
    }
    
    main {
        margin: 0;
    }
}

/* Large Screen Navbar Support */

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    
    .navbar:hover {
        width: 12rem;
    }
    
    .navbar:hover .link-text {
        display: block;
    }
}

/* Main Header Small Screen Support */

@media only screen and (max-width: 600px) {
    .mid-container {
        padding: 0;
        margin: 0;
    }
}
/* Animations */

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

@keyframes cursor-blink {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
    
}

.bs_body {
    background-image: url('/public/img/ugur-akdemir-XT-o5O458as-unsplash.jpg');
    background-color: var(--bg-secondary);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-blend-mode: multiply;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    animation: transitionIn 0.75s;
} 

.bestseller-header {
    font-size: 4rem;
    color: var(--bg-primary);
    padding-left: 170px;
   padding-top: 100px;
}

.bs-sub-header {
    font-size: 1.5rem;
    color: var(--bg-primary);
    padding-left: 170px;
}

/* Book Grid */

/*@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');*/


* {
  box-sizing:border-box;
}

img {
    min-width: 328px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 1;
}

img:hover {
    cursor: pointer;
    opacity: 0.25;
    transition: 0.5s;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  padding-left: 6rem;
  margin: 0 auto;
  width: max-content;
}

.card {
    background: transparent;
    max-height: 500px;
    max-width: 328px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5em -1em var(--dark);
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--bg-primary);
    font-size: 3rem;
}

.card-text {
    display: none;
}

/* .card-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    color: var(--bg-primary);
    visibility: hidden;
    opacity: 0;
}

.card-text:hover {
    visibility: visible;
    opacity: 1;
} */

/* 
.card-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    color: var(--bg-primary);
    visibility: hidden;
    opacity: 0;
}

.card-title:hover {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-secondary);
    cursor: pointer;
} */


/* .card:hover {
  transform: rotate(0);
}

.card .tags {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
} */

/* .card {
  background: transparent;
  height: 20em;
  width: 15em;
  font-size: 1.5em;
  color: var(--bg-primary);
  border-radius: 0.4em;
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em var(--dark);
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 4px solid var(--bg-secondary);
  text-decoration: none;
} */

/* .card:hover .tags {
  background: var(--color);
  color: white;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
} */

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
  color: white;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}







